<!-- Footer -->
<footer class="page-footer transparent">
  <!-- DISCLAIMER HOOKUP - BEGINS -->
  <div class="row">
    <div class="col l12 m12 s12">
      <div class="center-align">
        {{> disclaimer}}
      </div>
    </div>
  </div>
  <!-- DISCLAIMER HOOKUP - ENDS -->
  <!-- SOCIAL LINKS SECTION - BEGINS -->
  <div class="row">
    <div class="col l12 m12 s12">
      <div class="social">
          <ul>
            <!-- Twitter -->
            <li><a href="https://twitter.com/technicalissues" class="footer-social-links" title="TechnicalIssues on Twitter"><img src="{{asset "/images/social-twitter.svg"}}" class="footer-social-icons z-depth-2 circle" /></a></li>
            <!-- Github -->
            <li><a href="https://github.com/genebean" class="footer-social-links" title="GeneBean on GitHub"><img src="{{asset "/images/social-github.svg"}}" class="footer-social-icons z-depth-2 circle" /></a></li>
            <!-- Blog RSS Feed -->
            <li><a href="{{@blog.url}}/rss/" class="footer-social-links" title="Subscribe to my RSS feed"><img src="{{asset "/images/social-rss.svg"}}" class="footer-social-icons z-depth-2 circle" /></a></li>
          </ul>
      </div>
    </div>
  </div>
  <!-- SOCIAL LINKS SECTION - ENDS -->
  <div class="grey darken-3 white-text">
    <div class="row">
      <div class="col l12 m12 s12 transparent">
        <div class="footer-copyright">
          <div class="center-align">
            <!-- FOOTER - COPYRIGHT NOTE -->
            &copy; {{date format="YYYY"}} &bull;
            All rights reserved &bull;
            Theme based on 
            <a href="https://github.com/jsinh/needy-ghost" rel="external" class="link-theme-active-to-white">Needy</a>.
          </div>
        </div>
      </div>
    </div>
    <div class="footer-icon-credits">
      <div class="container center-align">
        <!-- FOOTER - IMAGE / MEDIA CREDITS  -->
        {{@blog.title}} resides at 
        <a href="https://www.linode.com/?r=bf96f91b25091ab6d46a6433160cdd112fe5f73c" rel="external" class="link-theme-active-to-white">Linode</a> 
        and is haunted by a 
        <a href="https://ghost.org" rel="external" class="link-theme-active-to-white">ghost</a>.
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->
